<div class="home">
  <div class="form-container">
    <h1>Entrada</h1>
    <form (ngSubmit)="onSubmitIncome()" [formGroup]="incomeForm">
      <div class="form-group">
        <label for="amount">Valor</label>
        <input type="number" id="amount" formControlName="amount" required />
      </div>

      <div class="form-group">
        <label for="dayDate">Mês</label>
        <select id="dayDate" formControlName="dayDate" required>
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea
          id="description"
          formControlName="description"
          required
        ></textarea>
      </div>

      <button type="submit" [disabled]="!incomeForm.valid">
        Adicionar Entrada
      </button>
    </form>
  </div>

  <div class="form-container">
    <h1>Despesas</h1>
    <form (ngSubmit)="onSubmitExpense()" [formGroup]="expenseForm">
      <div class="form-group">
        <label for="amount">Valor</label>
        <input type="number" id="amount" formControlName="amount" required />
      </div>

      <div class="form-group">
        <label for="date">Mês</label>
        <select id="date" formControlName="date" required>
          <option *ngFor="let month of months" [value]="month">
            {{ month }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea
          id="description"
          formControlName="description"
          required
        ></textarea>
      </div>

      <button type="submit" [disabled]="!expenseForm.valid">
        Adicionar Despesa
      </button>
    </form>
  </div>
</div>
