<div class="home">
  <h1 style="color: white;">Dashboard</h1>
  <div class="charts">
    <div class="box__gg">
      <div class="box__gg__title">
        <h5>Balanço</h5>
      </div>
      <canvas id="myChart1"></canvas>
    </div>
    <div class="box__gg">
      <h5 class="box__gg__title">Entradas e Despesas</h5>
      <canvas id="myChart2"></canvas>
    </div>
    <div class="box__gg">
      <h5 class="box__gg__title">Faturas e pagamentos</h5>
      <canvas id="myChart3"></canvas>
    </div>
  </div>
</div>
