@import "mixsin.scss";

body {
  background-color: rgb(19, 25, 32);
  height: 100vh;
}

.login-outlet {
  width: 100%;
}

:root {
  --color-primary: #0286c8;
  --color-secondary: #6c757d;
  --color-blacktransparent: rgba(19, 25, 32, 0.8);
  --color-darkgray: rgb(19, 25, 32);
  --color-anchorgray: rgb(29, 38, 48);
  --color-gray: rgb(62, 72, 83);
  --color-lightgray: rgb(137, 150, 164);
  --color-whitetransparent: rgba(255, 255, 255, 0.8);
  --color-blacktransparent: rgb(248, 249, 250);
  --color-bluetransparent: rgb(233, 240, 255);
  --color-blue: #6293FF;
  --color-babyblue: rgb(98, 147, 255);
  --color-babyblue: rgb(70, 128, 255);
  --color-white: #FFFFFF;
  --color-black: #000000;
  --border-lightblack: 1px solid rgba(219, 224, 229, 0.65);
  --border-black: 1px solid rgba(248, 249, 250, 0.05);
  --bs-dark: rgba(19, 25, 32, 0.08);
  --bs-light: rgba(62, 72, 83, 0.3);
  --ff-name: "";
  --fs-normal: 0.875rem;
}